In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


def get_data():


    df=pd.read_csv('ecommerce_data.csv')
    data=df.as_matrix()

    X=data[:,:-1]
    Y=data[:,-1]
    X[:,1]=(X[:,1]-X[:,1].mean())/(X[:,1].std())   #number of product viewed  0-4
    X[:,2]=(X[:,2]-X[:,2].mean())/(X[:,2].std())   #visit duration 0-6.3

    N,D=X.shape
    X2=np.zeros((N,4))
    for item in range(N):

        if (int(X[item,4])==0):             #anotherway   Z=np.zeros((N,4))  Z[np.arrange(N),X[:,D-1].astype(np.int32)]=1
            X2[item,0]=1                    #another way xreate X2, file in X to X2 from 0, D-1, X2[:,0:(D-1)]=X[:,0:(D-1)]
        if (int(X[item,4])==1):              #do a for loop item in range(N), X2[item,int(X[item,D-1])]=1
            X2[item,1]=1
        if (int(X[item,4])==2):
            X2[item,2]=1
        if (int(X[item,4])==3):
            X2[item,3]=1

    Xn=np.concatenate((X,X2),axis=1)
    return Xn,Y

def get_binary_data():

    X,Y=get_data()
    X2=X[Y<=1]
    Y2=Y[Y<=1]
    return X2,Y2

In [2]:
get_binary_data()

(array([[ 1.        , -0.81697841, -0.40827769, ...,  0.        ,
          0.        ,  1.        ],
        [ 1.        ,  0.13967078, -0.4994283 , ...,  0.        ,
          1.        ,  0.        ],
        [ 1.        , -0.81697841, -1.03884323, ...,  1.        ,
          0.        ,  0.        ],
        ...,
        [ 0.        , -0.81697841, -0.90498762, ...,  0.        ,
          0.        ,  1.        ],
        [ 1.        , -0.81697841, -0.86695367, ...,  0.        ,
          0.        ,  1.        ],
        [ 0.        , -0.81697841,  1.59982383, ...,  0.        ,
          0.        ,  1.        ]]),
 array([0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0.,
        0., 1., 0., 0., 0., 1., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1.,
        0., 0., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0., 1., 1.,
        1., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0.,
        1., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0.,
        0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0.,
        0., 1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1.,
        1., 1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0., 0., 0., 0.,
        1., 0., 1., 1., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1.,
        0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0.,
        0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0.,
        1., 1., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 0., 0., 0., 1., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1.,
        0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1.,
        1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 1., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0.,
        1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
        1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1.,
        0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1.,
        0., 0., 0., 0., 0., 0., 0.]))

In [132]:
df=pd.read_csv('ecommerce_data.csv')
data=df.as_matrix()
X=data[:,0]

In [133]:
df.tail(10)

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
490,1,3,0.978725,1,1,3
491,1,0,0.233267,1,3,0
492,0,0,0.666865,1,2,0
493,0,0,2.037393,0,2,0
494,1,1,1.601178,1,1,2
495,1,3,0.731594,0,0,2
496,0,0,6.368775,1,3,0
497,0,0,0.172853,1,3,0
498,1,0,0.209964,0,3,0
499,0,0,2.616882,1,3,0

In [134]:
df.describe()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000
mean,0.486000,0.854000,1.055880,0.518000,1.588000,0.74800
std,0.500305,1.046362,0.976711,0.500176,1.121057,0.89336
min,0.000000,0.000000,0.000141,0.000000,0.000000,0.00000
25%,0.000000,0.000000,0.328550,0.000000,1.000000,0.00000
50%,0.000000,1.000000,0.804717,1.000000,2.000000,0.00000
75%,1.000000,1.000000,1.499518,1.000000,3.000000,1.00000
max,1.000000,4.000000,6.368775,1.000000,3.000000,3.00000

In [135]:
df.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2